<br>
<br>
<br>

<div class="body">
  <div class="container">

    <div class="row resImg">
      <a routerLink="../dataflow">
        <img src="assets/img/home-component/DataFlow.png" alt="Data Flow Testing Feature Linked Image" style="width:100%;">
      </a>
    </div>


    <div class="row resImg">
      <a routerLink="../basispath">
        <img src="assets/img/home-component/BasisPath.png" alt="Basis Path Testing Feature Linked Image" style="width:100%;">
      </a>
    </div>

    <div class="row resImg">
      <a routerLink="../quiz">
        <img src="assets/img/home-component/Quiz.png" alt="Quiz Feature Linked Image" style="width:100%;">
      </a>
    </div>

  </div>
</div>