.container{
	padding-top: 20px;
  /*  padding-right: 10px;*/
  padding-bottom: 50px;
}

footer {
  background-color:black;
	padding-top: 20px;
  /*  padding-right: 10px*/
  padding-bottom: 20px;          
}

.resImg {
  margin: 5%

}



	
  
    