<body>
  <div *ngIf="!quizSelected; else takeQuiz">
      <div class="container page-header">
          <h1 style="text-align:center">Select quiz</h1>
      </div>

      <div class="main">
        <div class="container">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-5">
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" checked="checked" class="custom-control-input"
                    (change)="dataFlowChange($event)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Data Flow Testing&nbsp;&nbsp;&nbsp;&nbsp;</span>
                </label>
                <label class="custom-control custom-checkbox">
                    <input type="checkbox" checked="checked"class="custom-control-input"
                    (change)="basisPathChange($event)">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">Basis Path Testing</span>
                </label>
              <ul class="list-group">
                <div *ngFor="let q of quizzes; let i = index;">
                  <button type="button"
                  *ngIf="filter(q)"
                  class="list-group-item list-group-item-action"
                  [ngClass]="{'list-group-item-info': i === selectedQuiz}"
                  (click)="quiz=q; selectedQuiz=i">
                      {{q.title}}
                  </button>
                </div>
              </ul>  
            </div>
            
            <div class="col-xs-5">
              <div *ngIf="selectedQuiz>=0">
                  <div class="card">
                      <div class="card-block">
                        <h3 class="card-title">{{quiz.title}}</h3>
                        
                        <h6 class="card-subtitle mb-2 text-muted">Categories: <span *ngFor="let tag of quiz.categories;">{{tag}}&nbsp;&nbsp;&nbsp;&nbsp;</span></h6>
                        
                        <p class="card-text">{{quiz.description}}</p>
                        <p class="card-text">{{quiz.questions.length}} question<span *ngIf="quiz.questions.length>1">s</span></p>
                        <button class="btn btn-primary" (click)="startQuiz()">Start quiz</button> 
                      </div>
                    </div>             
              </div>
            </div>
            <div class="col-xs-1"></div>
          </div>
        </div>

      </div>

  </div>
  <ng-template #takeQuiz>
  
  <div class="container page-header">
    <h1 style="text-align:center">{{quiz.title}}</h1>
    <p class="lead" style="text-align:center">{{quiz.description}}</p>
  </div>

  <div class="main">
    <div class="container">
      <div class="row">
        
        <div *ngIf="!quizComplete; else result">
        
          <div class="col-xs-2"></div>

          <div class="col-xs-8">

            <h4><span class="label label-primary">Question {{activeQuestion+1}} of {{quiz.questions.length}}</span></h4>
            <p> </p>
          
            <div class="well well-sm">
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
           
                  <h3>{{getQuestion(this.activeQuestion)}}</h3>
           
                </div>
                <div class="col-xs-1"></div>
              </div>
              
              <div class="row"
              *ngFor="let a of quiz.questions[activeQuestion].answers; let i = index;">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                  <h4 class="answer"
                  (click)="selectAnswer(i)"
                  [ngClass]="{'selectedAnswer': i === selectedAnswer}">
                    {{a.answer}}
                  </h4>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          
          <div class="row">
            <button class="btn btn-primary" (click)="questionAnswered()">Continue</button>
            <div *ngIf="alert">
              <div class="alert alert-danger">You need to select one of the alternatives!</div>
            </div>
          </div>
        </div>

        <div class="col-xs-2"></div> 

        </div>
        <ng-template #result>
            <div class="col-xs-2"></div>
            
            <div class="col-xs-8">
              
              <span class="badge badge-pill badge-primary"><h2>You scored {{getScore()}} of {{quiz.questions.length}}</h2></span>
              <span class="badge badge-pill badge-primary"><h2>{{getPercentage()}} % correct answers</h2></span>
              <p> </p>
              
              <div *ngFor="let question of quiz.questions">
              <hr>
              <h4><span class="label label-primary">Question {{quiz.questions.indexOf(question)+1}} of {{quiz.questions.length}}</span></h4>
              <p> </p>

              <div class="well well-sm">
                  <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10">
                 
                      <h3>{{question.question}}</h3>
                 
                    </div>
                    <div class="col-xs-1"></div>
                  </div>

                  <div class="row">
                      <div class="col-xs-1"></div>  
                      <div class="col-xs-10">
                        <h4>Correct answer:</h4>
                        <h4 class="result"
                        [ngClass]="{'bg-success': true}">
                          {{getCorrectAnswer(question).answer}}
                        </h4>
                      </div>
                      <div class="col-xs-1"></div>
                    </div>
                    
                  <div class="row">
                    <div class="col-xs-1"></div>  
                    <div class="col-xs-10">
                      <h4>Your answer:</h4>
                      <h4 class="result"
                      [ngClass]="(1 === question.answers[results[quiz.questions.indexOf(question)]].correctness) ? 'bg-success' : 'bg-danger'">
                        {{question.answers[results[quiz.questions.indexOf(question)]].answer}}
                      </h4>
                    </div>
                    <div class="col-xs-1"></div>
                  </div>

                  <div class="row">
                    <div class="col-xs-1"></div>  
                    <div class="col-xs-10">
                      <h4>Explanation:</h4>
                      <p>
                        {{question.answer_explanation}}
                      </p>
                    </div>
                    <div class="col-xs-1"></div>
                  </div>
              </div>

              </div>
              <button class="btn btn-primary" (click)="resetQuiz()">New Quiz</button>
            </div>

            <div class="col-xs-2"></div>
        </ng-template>

      </div>

      <hr>
    </div>
  </div>
</ng-template>
</body>
