.answer{
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #bbb;
}
.answer:hover{
    cursor: pointer;
    background-color: rgb(223, 223, 223);
}
.selectedAnswer{
    background-color: #A7DBE4;
}
.selectedAnswer:hover{
    background-color: #A7DBE4;
}
.result{
    padding: 15px 20px;
    border-radius: 10px;
    border: 1px solid #bbb;
}