<head>
	<link rel="icon" href="/favicon.ico">
</head>

<body>
	<div class="container page-header">
		<h1 style="text-align:center">Data Flow Testing</h1>
	</div>
	
	<div class="main">
		<div class="container">
			<div class="row">

				<div class="col-sm-1"></div>
				
				<div class="col-sm-4">	
					
					<p>In Data Flow Testing, we focus on <strong>data values</strong>.</p>
					<p>We need to identify paths in the program that go from the assignment 
					of a value to a variable to the use of such variable, to make sure 
					that the variable is properly used.</p>
					<p>Specifically, we should try to ensure that the values created at 
					one point in the program are defined and used correctly.</p>
					<p>This is done by focusing on <strong>definitions</strong> 
					and <strong>uses</strong> of values.</p>
				
				</div>

				<div class="col-sm-1"></div>

				<div class="col-sm-5">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h1 class="panel-title">Data Flow Testing helps us to pinpoint any of the following issues</h1>
						</div>
						<div class="panel-body">
							<ul>
								<li>A variable that is declared but never used within the program.</li>
								<li>A variable that is used but never declared.</li>
								<li>A variable that is defined multiple times before it is used.</li>
								<li>Deallocating a variable before it is used.</li>
							</ul>
						</div>
					</div>
				</div>
							
				<div class="col-sm-1"></div>
			</div>		
		</div>

		<hr>

		<div class="row main-row">
			<nav aria-label="Page navigation" class="text-center">
				<ul class="pagination">
					<!--<li>
						<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo; Previous</span>
						</a>
					</li>-->
					<li>
						<a routerLink="/dataflow/2" aria-label="Next">
						<span aria-hidden="true">Next &raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</body>





