
<!--
<div>
  <input type="text" (click)="checkInput()" name="testName" [(ngModel)]="test" required #testName="ngModel">
  <p class="alert alert-danger" *ngIf="testName.invalid && testName.touched">Requird</p>
</div>

-->

<div class="color">
    
                        <div class="panel-heading">
                            <br>
        
                            <h1 class="panel-title" style="text-align:center"><b>Second Method</b> </h1>
                            <br>
                          </div>
        
    
    
    
    
                    </div>
                  
                    


                    <div class="main">
                        
                          <div class="container">
                              
                            <div class="row">			
                      
                              <div class="col-sm-2"></div>
                              
                              <div class="col-sm-5">
                                  <div class="panel panel-default">
                                      
                                      <div class="panel-body">
                      
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        
                                          <p> In this method the number of decision nodes have an impact on the Cyclomatic Complexity</p><br>	<br>
                                          <p><b>Cyclomatic complexity = Pre Dicate node + 1</b> </p><br><br>
                                          <p> Desion nodes or Pre Dicate Nodes on the DD path graph have been shown by red coler</p>	<br><br>
                                          <p> at the example in front of this box Cyclomatic Complexity <b> V(G)= 4 + 1 = 5</b></p>
                                          
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                      
                      
                                    
                                          
                                      </div>
                                      </div>
                                
                                
                                
                              
                              </div>
                      
                              <div class="col-sm-1"></div>
                      
                              <div class="col-sm-5">
                      
                                <div class="panel panel-default">
                                  
                      
                                  
                                  <div class="panel-body">
                                    <br>
                                    <br>
                                    <br>
                                      <div class="item" >
                                        
                                          <img src="assets/img/decision.jpg"  style="width:60%; ">
                                          </div>
                                          <br>
                                          <br>
                                          <br>
                                          <br>
                                          
                                          
                                  </div>
                                </div>
                              </div>
                                    
                              <div class="col-sm-1"></div>
                            </div>		
                          </div>
    
    

































<div class="main">
    <div class="container">	
      
  
      <div class="row main-row">
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination">
            <li>
              <a href="#" routerLink="/basispath/5" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
              </a>
            </li>
            <li>
              <a routerLink="/basispath/7" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  