<div class="container page-header">
	<br>
	<h4 style="text-align:center">Step 1 : Control Flow Graph
	</h4>
	<br>
  </div>
  <br>
  <br>
  <div class="main">
	<div class="container">
	  <div class="row">
		<div class="col-sm-0">
		</div>
		<div class="col-sm-6">	
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h1 class="panel-title" style="text-align:center">The code 
			  </h1>
			</div>
			<div class="panel-body">
			  <br>
			  <br>
			  <br>
			  <br>
			  <br>
			  <p>
				<img src="assets/img/code.jpg"  style="width:300px; height:300px;  ">
			  </p>
			  <br>
			  <br>
			  <br>
			  <br>
			  <br>
			  <!--- dasti
  <p>(1) &nbsp;program TRIANGLE</p>
  <p>(2) &nbsp;input (a)</p>
  <p>(3) &nbsp;input (b)</p>						 
  <p> (4) &nbsp;input (c)</p>
  <p> (5)&nbsp; if (a<b+c) AND (b < a+c) AND (c< a+b)</p>
  <p>(6)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; then IsATriangle = T</p>
  <p> (7)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; else IsATriangle = F</p>
  <p>(8) &nbsp; end if</p>	
  <p>(9) &nbsp; if IsATriangle</p>
  <p>(10)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; then if (a=b) AND (b=c) </p>
  <p>(11)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;then Output="Equilateral"</p>
  <p>(12)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;else if (a!=b) AND (b!=c) AND (a!=c)</p>
  <p>(13)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; then Output="Scalene"</p>
  <p>(14)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; else Output="Isolsceles"</p>
  <p>(15)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; end if</p>
  <p>(16) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; endif</p>
  <p>(17) &nbsp;else Output="Not a triangle"</p>
  <p>(18) &nbsp;end if</p>
  <p>(19) &nbsp;end TRIANGLE</p>
  -->
			</div>
		  </div>
		</div>
		<div class="col-sm-1">
		</div>
		<div class="col-sm-6">
		  <div class="panel panel-default">
			<div class="panel-heading">
			  <h1 class="panel-title" style="text-align:center">This is the Control Flow graph or CFG 
			  </h1>
			</div>
			<div class="panel-body">
			  <div class="item" >									
				<img src="assets/img/b3.gif"  style="width:300px; height:500px; ">
			  </div>
			</div>
		  </div>
		</div>
		<div class="col-sm-1">
		</div>
	  </div>		
	</div>
	<hr>
	<!-- page4-->
	<!--step2-->
	<!---third-->
	<!--page 6-->
	<!-- third-->
	<!--page 7-->
	<div class="main">
	  <div class="container">											
		<!--next button-->
		<div class="row main-row">
		  <nav aria-label="Page navigation" class="text-center">
			<ul class="pagination">
			  <li>
				<a href="#" routerLink="/basispath/2" aria-label="Previous">
				  <span aria-hidden="true">&laquo; Previous
				  </span>
				</a>
			  </li>
			  <li>
				<a [class.adisabled]="buttonDisabled" routerLink="/basispath/4" aria-label="Next">
				  <span aria-hidden="true">Next &raquo;
				  </span>
				</a>
			  </li>
			</ul>
		  </nav>
		</div>
	  </div>
	</div>
  