<body>
    <div class="container page-header">
      <h1 style="text-align:center">Data Flow Testing</h1>
    </div>
    
    <div class="main">
  
      <div class="container">
            <div class="row">
      
              <div class="col-sm-1"></div>
              
              <div class="col-sm-4">	
                <h2>Def-clear paths</h2>
  
                <p>We say a path from a variable definition to a use is called a <strong>def-use path</strong>.</p>
                <p>A <strong>def-clear path</strong> is a def-use path that does not contain any redefinitions of 
                the variable. In data flow testing, we are only interested in the def-use pairs that have a 
                def-clear path.</p>
                <p>In the example, 1,2,4,5,6 <strong>is not</strong> a def-clear path from 1 to 6, because the value of 
                <code><strong>x</strong></code> is "killed" (reassigned) at code line 4.</p>
                <p>1,2,3,5,6 <strong>is</strong> a def-clear path from 1 to 6, because <code><strong>x</strong></code> 
                is not re-assigned between 1 and 6. <span class="label label-info">Def-Use (x) = [1-6]</span> is therefore 
                a valid def-use pair.</p>
               
              
              </div>
      
              <div class="col-sm-1"></div>
      
              <div class="col-sm-5">
                <img src="assets/img/duchain.jpg" alt="Def-clear path">
              </div>
                    
              <div class="col-sm-1"></div>
            </div>		
          </div>
    
  
      <hr>
  
      <div class="row main-row">
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination">
            <li>
              <a routerLink="/dataflow/4" aria-label="Previous">
                <span aria-hidden="true">&laquo; Previous</span>
              </a>
            </li>
            <li>
              <a routerLink="/dataflow/6" aria-label="Next">
                <span aria-hidden="true">Next &raquo;</span>
              </a>
            </li>
          </ul>      
        </nav>
      </div>
      
    </div>
  </body>