

<br>
<br>
<div class="container">
  
</div>





      <!--add second path-->


      <div class="row">
          
      
              <div class="col-sm-3"></div>
              
              <div class="col-sm-6">	
      
      
                  <div class="panel panel-default">
                      <div class="panel-heading">
                        <br>
                        <h1 class="panel-title" style="text-align:center"><b>Path 5</b> </h1>
                        <br>
                      </div>
      
      
                      <div class="pathtwo"  >
      
                          <img src="assets/img/PATH5.gif"  style="width:466px; height:618px; ">
                          
                              
                      </div>

                      <br>
                      <br>
                      <br>
                      
                                                              
      
      
                        
                                            
                      
      
                    
                          
                      </div>
                      </div>
                
                
                
              
              </div>
      
      
      <br>
      <br>
      
      



























<!-- buttons-->
<div class="main">
  <div class="container">	
    

    <div class="row main-row">
      <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
          <li>
            <a href="#" routerLink="/basispath/11" aria-label="Previous">
            <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
          <li>
            <a routerLink="" aria-label="Next">
            <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>