<body>
	<div class="main">
		<div class="container page-header">
			<div class="form-group col-md-12">
				<p class="alert alert-danger" *ngIf="serverError">Unable to process the request. Please try again or contact administrator.</p>
				<p class="alert alert-danger" *ngIf="responseError">{{ responseMessage }}</p>
			</div>
			<!-- start: Content -->
			<div id="content" class="panel box-v7">
			    <div class="panel-body">
					<div class="col-md-12 padding-0 box-v7-header">
					  <div class="col-md-12 padding-0">
					      <div class="col-md-10 padding-0">
						      <img src="{{ forum?.img }}" class="avatar pull-left" />
						      <h4>{{ forum?.name }}</h4>
						      <p>{{ forum?.createdAt | date:"short" }}</p>
					      </div>
					  </div>
					</div>
					<div class="col-md-12 padding-0 box-v7-body">
					  <h3>{{ forum?.question }}</h3>
					  <p>{{ forum?.description }}</p>
					<br/><hr style="border-color:#ABA7A7;" />
					</div>
					<div class="col-md-12 padding-0 box-v7-comment">
						<div *ngFor="let eachDiscussion of forum?.discussion; let i=index;">
						  	<div class="media">
							    <div class="media-left" style="min-width:75px;">
							        <img src="{{ eachDiscussion.img }}" class="media-object avatar"/>
							        {{ eachDiscussion.name }}
							        {{ eachDiscussion.createdAt | date:"short" }}
							    </div>
							    <div class="media-body">
							      <!-- <h4 class="media-heading">Fulan</h4> -->
							       <p class="col-sm-11">{{ eachDiscussion.answer }}</p>

							       <!-- if logged in user -->
							       <p class="col-sm-1" *ngIf="auth.isAuthenticated()">
							       		<span *ngIf="account?.name == eachDiscussion.email" style="color:red;"><i class="glyphicon glyphicon-remove" (click)="removeReply(eachDiscussion._id, i)" ></i></span>

							       		<span *ngIf="account?.name == eachDiscussion.email"><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#questionmodal" (click)="editReply(eachDiscussion._id, i)" ></i></span>
							        </p>
							       <!-- if logged in user -->
							    </div>
						  	</div>
						  	<br/><hr style="border-color:#ABA7A7;" />
						  </div>

						<div class="media" *ngIf="auth.isAuthenticated()">
							<div class="media-left">
							  <a href="#">
							    <img src="{{ account?.picture }}" class="media-object avatar"/>
							    {{ account?.nickname }}
							  </a>
							</div>
					    
						    <div class="media-body">
							    <form #answerForm="ngForm">
							      <textarea class="form-control" name="reply" placeholder="write comments..." [(ngModel)]="discussion_reply" #reply="ngModel" required></textarea>
							      <div class="form-group col-md-12">
										<p class="alert alert-danger" *ngIf="insertServerError">Unable to process the request. Please try again or contact administrator.</p>
										<p class="alert alert-danger" *ngIf="insertResponseError">{{ insertResponseMessage }}</p>
									</div>
							      <br/>
							      <input type="submit" name="submit" value="Post" [disabled]="!answerForm.valid" (click)="newReply()" class="btn btn-primary">
							    </form>
						    </div>
					  </div>
					</div>
			    </div>
			</div>
			<!-- end: content -->
		</div>
	</div>
</body>



<!-- modal starts -->
<div class="modal fade" id="questionmodal" tabindex="-1" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Edit reply</h4>
    </div>
    <div class="modal-body">
    <form #replyForm="ngForm">
    	<div class="form-group row">
    		<p class="alert alert-danger" *ngIf="updateServerError">Unable to process the request. Please try again or contact administrator.</p>
    		<p class="alert alert-danger" *ngIf="updateResponseError">{{ updateResponseMessage }}</p>
    	</div>

      <div class="form-group row"><label class="col-sm-2 control-label text-right">Question*</label>
        <div class="col-sm-10">
        	<textarea name="edit_reply" #edit_reply="ngModel" [(ngModel)]="edit.discussion" class="form-control" required></textarea>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="save-btn btn btn-primary" [disabled]="!replyForm.valid" (click)="updateDiscussion()">Save changes</button>
    </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->