











<div class="main">
    <div class="container">	
      
  
      <div class="row main-row">
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination">
            <li>
              <a href="#" routerLink="/basispath/12" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
              </a>
            </li>
            
          </ul>
        </nav>
      </div>
    </div>
  </div>
  
