
<div class="container page-header">
		<br>
			<h1 style="text-align:center">Step 1 : Control Flow Graph</h1>
			<br>
			
		</div>
		
		
		
		
		<div class="main">
			<div class="container">				
				<div class="row">	
	
					<div class="col-sm-3"></div>
					
					<div class="col-sm-7">
							<br>
							<br>	
	
	
							<div class="panel panel-default">
								
									<div class="panel-heading">
										
										<br><h1 class="panel-title" style="text-align:center">What is  Control Flow Graph ? </h1><br>
										
									</div>
									
	
	
									<div class="panel-body" >
										<br>
										<br>									
										<ul>
												
														<li> This is a graphical presentation of the software program a single node represents a single statement of the software program.</li><br>
														<li>The control Flow of a program can be analyzed using a graphical representation knows as flow graph.</li><br>
														<li>The flow graph is a directed graph in which node represents statement , and edges represents flow of control.</li><br>
														<li>In other words, a control flow graph describes how the control flows through the program</li><br>
													
													
													</ul>
	
									</div>
									
									<br>
									<br>				
	
								
																				
									
	
								
											
							</div>
									</div>				
						
						
					
					</div>
	
					
	
					
					
					<br>
					<br>









<!-- asl-->








									
									
									
									
									
									
									
									
									
									
									
									
									
									
									


		<!--next back-->
<div class="row main-row">
		<nav aria-label="Page navigation" class="text-center">
			<ul class="pagination">
				<li>
					<a href="#" routerLink="/basispath" aria-label="Previous">
					<span aria-hidden="true">&laquo; Previous</span>
					</a>
				</li>
				<li>
					<a href="#" routerLink="/basispath/3" aria-label="Next">
					<span aria-hidden="true">Next &raquo;</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>











	