.bold{

    margin-left: 200px;
}


.direction{
    margin-left: 170px;
}

.item{

    margin-left: 0px;
}

.convert{

    display: block;
    margin-left: 150px;
    margin-right: auto;
    
}


.panel-title{
    margin-left: 20px;
    margin-right: 20px;
}

/*second path*/

.pathtwo{

    margin-left: 200px;
}