

.container {
    padding-top: 20px;
    
    padding-bottom: 20px; 
  
    height: 100%;
    
  }
 

 .navbar {
  position: fixed; 
  top: 0; 
  width: 100%; 
  margin-bottom: 0;
  z-index: 1;
}
 .navbar-brand{
   padding: 5px;
 }
   
 footer {
  background-color: #070707;
   

      
}