<div class="main-header">
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				 aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
				<a class="navbar-brand" href="#">
					<img src="assets/img/logo.png" alt="stt" width="80px">
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li role="presentation" routerLinkActive="active"><a routerLink="home">Home</a></li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="dataflow">Data Flow Testing
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li><a href="dataflow">1 - Introduction</a></li>
						  <li><a href="dataflow/2">2 - Definitions and Uses</a></li>
						  <li><a href="dataflow/3">3 - Def-use pairs</a></li>
						  <li><a href="dataflow/4">4 - Exercise 1</a></li>
						  <li><a href="dataflow/5">5 - Def-clear paths</a></li>
						  <li><a href="dataflow/6">6 - Exercise 2</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="basispath">Basis Path Testing
						<span class="caret"></span></a>
						<ul class="dropdown-menu">
						  <li><a href="basispath">1 - Introduction</a></li>
						  <li><a href="basispath/2">2 - Control Flow Graph</a></li>
						  <li><a href="basispath/4">3 - DD Path Graph</a></li>
						  <li><a href="basispath/5">4 - Cyclomatic Complexity</a></li>
						  <li><a href="basispath">5 - Independent paths</a></li>
						  <li><a href="basispath">6 - Test cases</a></li>
						</ul>
					</li>
					<li role="presentation" routerLinkActive="active"><a routerLink="quiz">Quiz</a></li>					
					<li role="presentation" routerLinkActive="active"><a routerLink="forum">Forum</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li *ngIf="!auth.isAuthenticated()" routerLinkActive="active" ><a (click)="auth.login()"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

					<li *ngIf="auth.isAuthenticated() && isTeacher" routerLinkActive="active" ><a routerLink="admin-quiz"><span class="glyphicon glyphicon-comment"></span> Admin Quiz</a></li>

					<li *ngIf="auth.isAuthenticated()" routerLinkActive="active" ><a routerLink="account"><span class="glyphicon glyphicon-user"></span> Account</a></li>
					<li *ngIf="auth.isAuthenticated()" routerLinkActive="active" ><a routerLink="home" (click)="auth.logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
</div>


<router-outlet></router-outlet>
