<body>
	<div class="main">
		<div class="container page-header">
			<div class="form-group col-md-12">
				<p class="alert alert-danger" *ngIf="serverError">Unable to process the request. Please try again or contact administrator.</p>
				<p class="alert alert-danger" *ngIf="responseError">{{ responseMessage }}</p>
			</div>
			<div class="form-group col-md-12">
				<div class="col-md-6">
					<input type="text" class="form-control" name="quiz_title" #quiz_title="ngModel" [(ngModel)]="quizSearch.title" placeholder="Enter the title to search" />
				</div>
				<div class="col-md-2">
					<ss-multiselect-dropdown [options]="myOptions" [settings]="mySettings" [texts]="myTexts" [(ngModel)]="quizSearch.category" #category="ngModel" name="category"></ss-multiselect-dropdown>
				</div>
				<div class="col-md-2">
					<button class="btn btn-primary">Search</button>
				</div>
				<div class="col-md-2">
                   <span class="icon-question icons icon text-right"></span> <a href="javascript:void(0)" routerLink="/admin-quiz/add">Add New Quizz</a>
                 </div>
			</div>
		</div>
	</div>
	
	<div class="main">
		<div class="container">
			<!-- <div class="row"> -->
				<div class="col-md-12">
				   <table class="table table-striped table-responsive">
				   		<tr>
				   			<th>#</th>
					   		<th>Title</th>
					   		<th>Description</th>
					   		<th>Categories</th>
					   		<th>Creator</th>
					   		<th>Action</th>
				   		</tr>
				   		<tr *ngFor="let eachQuiz of quizData; let i=index;">
				   			<td>{{ i+1 }}</td>
				   			<td><a routerLink="/admin-quiz/{{eachQuiz._id}}/questions">{{ eachQuiz.title }}</a></td>
				   			<td>{{ eachQuiz.description }}</td>
				   			<td>{{ eachQuiz.categories }}</td>
				   			<td>{{ eachQuiz.creator }}</td>
				   			<td><span><i class="glyphicon glyphicon-remove" (click)="removeQuiz(eachQuiz._id, i)" ></i></span> <span><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#questionmodal" (click)="getQuizDetails(eachQuiz._id)" ></i></span></td>
				   		</tr>
				   </table>
				</div>
			<!-- </div>		 -->
		</div>
	</div>
</body>

<!-- modal starts -->
<div class="modal fade" id="questionmodal" tabindex="-1" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Edit</h4>
    </div>
    <div class="modal-body">
    <form #quizForm="ngForm">
    	<div class="form-group row">
    		<p class="alert alert-danger" *ngIf="updateServerError">Unable to process the request. Please try again or contact administrator.</p>
    		<p class="alert alert-danger" *ngIf="updateResponseError">{{ updateResponseMessage }}</p>
    	</div>
      <div class="form-group row"><label class="col-sm-2 control-label text-right">Title</label>
        <div class="col-sm-10"><input type="text" name="question" #question="ngModel" [(ngModel)]="thisQuiz.title" class="form-control" required>
        <p class="error-text" *ngIf="question.invalid && question.touched">Title is required</p>
        </div>
      </div><br />
      <div class="form-group row"><label class="col-sm-2 control-label text-right">Description</label>
        <div class="col-sm-10"><textarea name="description" #description="ngModel" [(ngModel)]="thisQuiz.description" class="form-control" required></textarea>
        <p class="error-text" *ngIf="description.invalid && description.touched">Description is required</p>
        </div>
      </div><br />
      <div class="form-group row"><label class="col-sm-2 control-label text-right">Categories</label>
        <div class="col-sm-10">
        	<ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="thisQuiz.categories" required #category="ngModel" name="category"></ss-multiselect-dropdown>
        	<p class="error-text" *ngIf="category.invalid && category.touched">Please select atleast one category</p>
        </div>
      </div><br />
    <div class="modal-footer">
      <input type="hidden" name="key" id="key_value">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="save-btn btn btn-primary" [disabled]="!quizForm.valid" (click)="updateQuiz()">Save changes</button>
    </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal	-->