<body>
    <div class="container page-header">
      <h1 style="text-align:center">Data Flow Testing</h1>
    </div>
    
    <div class="main">
      <div class="container">
        <div class="row">
  
          <div class="col-sm-1"></div>
  
          <div class="col-sm-4">
            <h2>Def-use pairs</h2>
  
            <ng-template [ngIf]="step == 1">
              <p>To further learn how to define def-use pairs, consider the following exercise.</p>
              <p>In the example code, select the code line that contains the 
              <strong>definition</strong> of the variable <code><strong>n</strong></code></p>
            </ng-template>

            <ng-template [ngIf]="step == 2">
              <p class="text-muted">To further learn how to define def-use pairs, consider the following exercise.</p>
              <p class="text-muted">In the example code, select the code line that contains the definition of the variable n</p>
              <p>Great! The definition of <code><strong>n</strong></code> occurs at line 2. We can therefore say that 
              <span class="label label-info">Def (n) = 2</span></p>
              <p>Now, select the code line that contains the <strong>use</strong> of <code><strong>n</strong></code></p>
            </ng-template>

            <ng-template [ngIf]="step == 3">
                <p class="text-muted">To further learn how to define def-use pairs, consider the following exercise.</p>
                <p class="text-muted">In the example code, select the code line that contains the definition of the variable n</p>
                <p class="text-muted">Great! The definition of n occurs at line 2. We can therefore say that 
                <span class="label label-default">Def (n) = 2</span></p>
                <p class="text-muted">Now, select the code line that contains the use of n</p>
                <p>Good work! Since the use of "n" occurs at line 4, we say that 
                <span class="label label-info">Use (n) = 4</span></p>
                <p>We are now able to define the def-use pair of the variable "n" as <span class="label label-info">Def-Use (n) = 2-4</span></p>
              </ng-template>

          </div>
            
          <div class="col-sm-1"></div>
  
          <div class="col-sm-5">
            
            <ul class="list-group">
              <button type="button" class="list-group-item">
                1 &nbsp;&nbsp;&nbsp;&nbsp;<code>sum = 0;</code>
              </button>
              <button type="button" class="list-group-item" (click)="nextStep(1)">
                2 &nbsp;&nbsp;&nbsp;&nbsp;<code><strong>read</strong> (n);</code><span class="text-success">{{activeComments[0]}}</span>
              </button>
              <button type="button" class="list-group-item">
                3 &nbsp;&nbsp;&nbsp;&nbsp;<code>i = 1;</code>
              </button>
              <button type="button" class="list-group-item" (click)="nextStep(2)">
                4 &nbsp;&nbsp;&nbsp;&nbsp;<code><strong>while</strong> (i<=n) &#123;</code><span class="text-success">{{activeComments[1]}}</span>
              </button>
              <button type="button" class="list-group-item">
                5 &nbsp;&nbsp;&nbsp;&nbsp;<code>&nbsp;&nbsp;&nbsp;<strong>read</strong> (number);</code>
              </button>
              <button type="button" class="list-group-item">
                6 &nbsp;&nbsp;&nbsp;&nbsp;<code>&nbsp;&nbsp;&nbsp;sum = sum + number;</code>
              </button>
              <button type="button" class="list-group-item">
                7 &nbsp;&nbsp;&nbsp;&nbsp;<code>&nbsp;&nbsp;&nbsp;i = i + 1;</code>
              </button>
              <button type="button" class="list-group-item">
                8 &nbsp;&nbsp;&nbsp;&nbsp;<code>&#125;</code>
              </button>
              <button type="button" class="list-group-item">
                9 &nbsp;&nbsp;&nbsp;&nbsp;<code><strong>print</strong> (sum);</code>
              </button>
            </ul>
          </div>
  
          <div class="col-sm-1"></div>
        </div>
      </div>
  
      <hr>
  
      <div class="row main-row">
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination">
            <li>
              <a routerLink="/dataflow/3" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
              </a>
            </li>
            <li>
              <a routerLink="/dataflow/5" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      
    </div>
  </body>