
<div class="container page-header">
	<br>
		<h1 style="text-align:center">Basis Path Testing</h1>
		<br>
		
	</div>
	
	



















	
	
	
	<div class="main">
		<div class="container">				
			<div class="row">	

				<div class="col-sm-3"></div>
				
				<div class="col-sm-7">
						<br>
						<br>	


						<div class="panel panel-default">
							
								<div class="panel-heading">
									<br>
									<h1 class="panel-title" style="text-align:center">For deriving Test Cases we have to follow these steps </h1><br><br>
									<br>
								</div>
								


								<div class="panel-body" >
									<br>
									<br>									
										<p >  <b>Step 1:</b> &nbsp;Using the design or code, draw the corresponding flow graph</p>
										<p> <b>Step 2:</b>&nbsp; Draw DD Path Graph</p>
										<p>  <b>Step 3:</b> &nbsp;Determine the Cyclomatic complexity of the flow graph</p>
										<p>  <b>Step 4:</b>&nbsp; Determine a basis set of independent paths</p>
										<p>  <b>Step 4:</b> &nbsp;Prepare test cases that will force execution of each path</p>

								</div>
								
								<br>
								<br>
									


									
																			
								

							
										
								</div>
								</div>
					
					
					
				
				</div>

				

				
				
				<br>
				<br>
				
















<!-- dynamic one


				<div class="main">
					<div class="container">
							
						<div class="row">
					
			
							<div class="col-sm-3"></div>
							
							<div class="col-sm-7">	
			
			
									<div class="panel panel-default">
											<div class="panel-heading">
												<br>
												<h1 class="panel-title" style="text-align:center">For deriving Test Cases we have follow these steps </h1>
												<br>
											</div>
			
			
											<div >
												<br>
												<br>									
												<img src="assets/img/controlflow.gif"  style="width:600px; ">
			
											</div>


										-->






















				









										<div class="row main-row">
											<nav aria-label="Page navigation" class="text-center">
												<ul class="pagination">
													<!--<li>
														<a href="#" aria-label="Previous">
														<span aria-hidden="true">&laquo; Previous</span>
														</a>
													</li>-->
													<li>
														<a href="#" routerLink="2" aria-label="Next">
														<span aria-hidden="true">Next &raquo;</span>
														</a>
													</li>
												</ul>
											</nav>
										</div>
								