.code-tab{
	background-color: #eee;
}
span{
	padding-left: 25px;
}
.outer-span{
	padding-left: 50px !important;
}
.inner-span{
	padding-left: 75px !important;
}
.jumbotron{
	background-color: #fff !important;
}
.top-buffer{
    margin-top: 20px;
}
.leftarea{
	text-align: center;
}
.leftarea p{
    background-color: #eee;
    border-radius: 35px;
    display: inline-block;
    min-width: 70px;
    min-height: 70px;
    font-size: 20px;
    text-align: center;
    line-height: 70px;
    margin: 1px 30px;
}
.line-down, .slope-right, .slope-left{
	min-width: 2px !important;
	min-height: 20px !important;
    padding: 0 !important;
    background-color: #d0a392 !important;
}
.slope-right{
	transform:rotate(35deg);
}
p.slope-left {
    transform: rotate(-28deg);
}
.slope-group p {
    margin: 0 35px;
}
.adisabled{
	cursor: not-allowed;
}
.error-message{
	color: red;
	display: block;
}


/* page 4*/
.convert
{
	margin-left: 180px;
	padding-left: auto;

}