<!-- page4-->
	
	<!--step2-->
	
	
	
	<div class="container page-header">
		<h2 style="text-align:center">Step 2 : DD Path Graph</h2>
		
	</div>
<br>
	<div class="main">
	<div class="container">
			
		<div class="row">
	

			<div class="col-sm-3"></div>
			
			<div class="col-sm-7">	


					<div class="panel panel-default">
							<div class="panel-heading">
								<br>

								<h1 class="panel-title" style="text-align:left">
									<ul>
										<li> combine the nodes of control flow graph</li><br>											
										
										<li> The nodes 1 to 4 were combined as node A in the DD Path Graph</li><br>
										<li> The final DD graph is shown here</li>
									</ul>
									
										
								 </h1>
								
							</div>


							<div  class="convert">
									<img src="assets/img/small.jpg"  style="width:300px; height:500px; ">
							

							</div>
							
							<br>
							
								


								
																		
							

						
									
							</div>
							</div>
				
				
				
			
			</div>

<!--previous button-->

		<div class="row main-row">
			<nav aria-label="Page navigation" class="text-center">
				<ul class="pagination">
					<li>
						<a href="#" routerLink="/basispath/3" aria-label="Previous">
						<span aria-hidden="true">&laquo; Previous</span>
						</a>
					</li>
					<li>
						<a href="#" routerLink="/basispath/5" aria-label="Next">
						<span aria-hidden="true">Next &raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>