<h1 style="text-align:center">Add Questions</h1>


<div id="main">
	<div class="container">
		<div class="row main-row">
<div class="col-sm-6 col-sm-offset-3">

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane active" id="profile">
		        <form class="form-horizontal questions-pane" #questionForm="ngForm">
			        <div class="row questions">
			        	<div class="col-sm-12">
				        	<div class="row">
				        		<p class="error-text" *ngIf="formError">{{ errorMessage }}</p>
				        		<p class="error-text" *ngIf="serverError">Unable to process the request. Please try again or contact administrator.</p>
				        		<p class="error-text" *ngIf="responseError">{{ responseMessage }}</p>
				        	</div>

				            <div class="form-group">
				              <label for="name">Question*:</label>
				              <input type="text" class="form-control" id="question" placeholder="Question" name="question" #question="ngModel" [(ngModel)]="questionData.question" required>
				              <p class="error-text" *ngIf="question.invalid && question.touched">Question is required</p>
				            </div>

				            <div class="form-group">
				              <label for="name">Image:</label>
				              <input type="file" class="form-control" id="image" name="image" #image="ngModel" [(ngModel)]="questionData.image">
				            </div>

				            <div class="form-group">
				              <label for="name">Explanation*:</label>
				              <input type="text" class="form-control" id="explanation" placeholder="Explanation.." name="explanation" #explanation="ngModel" [(ngModel)]="questionData.answer_explanation" required>
				              <p class="error-text" *ngIf="explanation.invalid && explanation.touched">Answer Explanation is required</p>
				            </div>

				            <div class="form-group">
				              <label for="name">Code:</label>
				              <textarea class="form-control" name="code" #code="ngModel" [(ngModel)]="questionData.code"></textarea>
				            </div>

				            <div class="form-group row all-answers">
						      	<div class="row correct-answer-row">	
							      	<label class="col-sm-2 control-label text-right">
							      		Correct Answer*
							      	</label>
							        <div class="col-sm-8">
							        	<input type="text" name="correct_answer" class="form-control" #correct_answer="ngModel" [(ngModel)]="questionData.correct_answer" (keyup)="checkAnswer()" required />
							        	<p class="error-text" *ngIf="correct_answer.invalid && correct_answer.touched">Correct Answer is required</p>
							        	<p class="error-text" *ngIf="sameCorrectAnswerError">Correct Answer is same as other answers</p>
							        </div>
						      	</div><br/>
						      	<h4>Other Answer</h4>
						      	<div class="row text-left">
						      		<div class="col-md-10 text-right">
						      			<p class="error-text" *ngIf="answerError">At least one answer is required.</p>
						      			<p class="error-text" *ngIf="sameAnswerError">One of the answer is same as correct answer.</p>
						      		</div>
						      		<div class="col-md-2">
						      			<span class="text-success" (click)="addAnswer()"><i class="glyphicon glyphicon-plus"></i></span>
						      		</div>
						      	</div>
						      	<div class="row answer-row" *ngFor="let eachanswer of answers; let i=index;">	
							      	<label class="col-sm-2 control-label text-right">
							      	</label>
							        <div class="col-sm-8">
							        	<input type="text" [(ngModel)]="eachanswer.answer" name="answer{{i}}" class="form-control"/>
							        </div>
							        <div class="col-sm-2">
							          	<span class="text-danger" (click)="removeAnswer(i)"><i class="glyphicon glyphicon-remove"></i></span>
						          	</div>
						      	</div>

						      </div><br />
				        </div>
			        </div>
		            <div class="row">
			            <button class="btn btn-primary" [disabled]="!questionForm.valid || sameAnswerError || answerError || sameCorrectAnswerError" (click)="save(questionForm)">Save</button>
			            <button class="btn btn-primary" [disabled]="!questionForm.valid || sameAnswerError || answerError || sameCorrectAnswerError" (click)="saveAndAdd(questionForm)">Save & Add Another</button>
			        </div>
		          </form>
	    </div>
	  </div>
</div>
</div>
</div>
</div>


<div class="hidden" id='#templates'>
	<div class="answer-template">
		<div class="row answer-row">	
	      	<label class="col-sm-2 control-label text-right">
	      	</label>
	        <div class="col-sm-8">
	        	<input type="text" name="answer[]" class="form-control" />
	        </div>
	        <div class="col-sm-2">
	          	<span class="text-danger answer-remove"><i class="glyphicon glyphicon-remove"></i></span>
	          	<span class="text-success answer-add"><i class="glyphicon glyphicon-plus"></i></span>
	      	</div>
	  	</div><br/>
	</div>
</div>