

<!--page 5-->	
	
	<!-- step 3-->
	<br>
	<br>
	<div class="main">
	
	<div class="container page-header">
			<h1 style="text-align:center">Step 3 : Cyclomatic Complexity</h1>
			<br>
			<br>
		</div>
	
	
	<br>
	<br>
	
	
	
	
	<div class="row">
			
	
					<div class="col-sm-3"></div>
					
					<div class="col-sm-7">	
	
	
							<div class="panel panel-default">
									<div class="panel-heading">
										<br>
										<h1 class="panel-title" style="text-align:center"><b>First Method</b> </h1>
										<br>
									</div>
	
	
									<div >
	
										<br>
										<br>
											<ul>
													<li> In this method <b>&nbsp;V(G)= e - n +2p &nbsp;</b> formula is used to calculate Cyclomatic Complexity where :<br>
													<b>
														<ul>
																	<li>e = edges</li>
															<li>n= nodes</li>								
											
	
															<li>p= connected components</li>
	
														</ul>
														
													</b>
													<br>
													<br>
													<li> 
														<p> To get the better understanding of the formula just look at the past DD Path Graph in this graph </p>
	
														<ul>
															<li><b>e</b>  which was the number of edges was equal to <b>20</b> </li>
															<li> <b>n</b>which was the number of nodes was equal to <b>17</b></li>
															<li> <b>p</b> which was the number of connected components was equal to <b>1</b></li>
														</ul>
														<br>
														<p> So according to formula Cyclomatic Complexity <b>V(G)= 20 - 17 + 2*1 = 5</b> </p>
	
	
													</li>
													
													
													</ul>
									</div>
									
									<br>
									<br>
										
	
	
										
																				
									
	
								
											
									</div>
									</div>
						
						
						
					
					</div>
	
	
	<br>
	<br>
	
	
	
	
					
	
	
	
	
	
	
								
	
	
	
	
									
									</div>
	









<!-- end page 5-->




<div class="main">
	<div class="container">	
		

		<div class="row main-row">
			<nav aria-label="Page navigation" class="text-center">
				<ul class="pagination">
					<li>
						<a href="#" routerLink="/basispath/4" aria-label="Previous">
						<span aria-hidden="true">&laquo; Previous</span>
						</a>
					</li>
					<li>
						<a routerLink="/basispath/6" aria-label="Next">
						<span aria-hidden="true">Next &raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>





