<body>
    <div class="container page-header">
      <h1 style="text-align:center">Data Flow Testing</h1>
    </div>
    
    <div class="main">
      <div class="container">
        <div class="row">
  
          <div class="col-sm-1"></div>
  
          <div class="col-sm-4">
            <h2>Def-clear paths</h2>
  
            <ng-template [ngIf]="step == 1">
              <p>In the example code, the method <code><strong>euclid</strong></code> has three definitions and three uses of the variable 
              <code><strong>r</strong></code>. First, select all <strong>definitions</strong> of 
              <code><strong>r</strong></code>.</p>
            </ng-template>

            <ng-template [ngIf]="step == 2">
              <p class="text-muted">In the example code, the method euclid has three definitions and three uses of the variable 
              r. First, select all definitions of r.</p>
              <p>Great! The definitions of <code><strong>r</strong></code> are 
              <span class="label label-info">Def (r) = 4, 8, 12</span>. Now, select all 
              <strong>uses</strong> of <code><strong>r</strong></code>.</p>
           </ng-template>
              
           <ng-template [ngIf]="step == 3">
            <p class="text-muted">In the example code, the method euclid has three definitions and three uses of the variable 
            r. First, select all definitions of r.</p>
            <p class="text-muted">Great! The definitions of r are <span class="label label-default">Def (r) = 4, 8, 12</span>. 
            Now, select all uses of r.</p>
            <p>Good work! The uses of r are <span class="label label-info">Def (r) = 6, 9, 11</span>.</p>
            <p>You now need to identify all <strong>valid def-use pairs</strong>. To create a def-use pair, select one of the code lines 
            with a definition of <code><strong>r</strong></code> and one of the code lines with a use of 
            <code><strong>r</strong></code>.</p>
           </ng-template>

           <ng-template [ngIf]="step == 4">
              <p class="text-muted">In the example code, the method euclid has three definitions and three uses of the variable 
              r. First, select all definitions of r.</p>
              <p class="text-muted">Great! The definitions of r are <span class="label label-default">Def (r) = 4, 8, 12</span>. 
              Now, select all uses of r.</p>
              <p class="text-muted">Good work! The uses of r are <span class="label label-default">Def (r) = 6, 9, 11</span>.</p>
              <p class="text-muted">You now need to identify all valid def-use pairs. To create a def-use pair, select one of the code lines 
              with a definition of r and one of the code lines with a use of 
              r.</p>
             </ng-template>

          <div class="label" 
          *ngFor = "let defUse of createdDefUses"
          [ngClass]="defUse.valid === true ? 'label-success' : 'label-danger'">
           {{defUse.comment}}<br>
          </div>

          <ng-template [ngIf]="step == 4">
            <p>&nbsp;</p>
            <p>Fantastic! You have found all of the valid def-use pairs for the variable <code><strong>r</strong></code>: 
              <span class="label label-info">Def-Use (r) = [4-6], [8-9], [8-11], [12-9], [12-11]</span>.</p>
            <p>As we have seen, all of these use-pairs have a <strong>def-clear path</strong>.</p>
          </ng-template>

          </div>
            
          <div class="col-sm-1"></div>
  
          <div class="col-sm-5">
            
            <div *ngIf="step<3; else step3">
              <ul class="list-group">
                <button type ="button" class="list-group-item">
                  1 &nbsp;&nbsp;&nbsp;&nbsp;<code><strong>euclid</strong>(<strong>int</strong> m, <strong>int</strong> n) &#123;</code>
                </button>
                <button type="button" class="list-group-item">
                  2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code><strong>int</strong> r;</code>
                </button>
                <button type="button" class="list-group-item">
                  3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code><strong>if</strong>(n>m) &#123;</code>
                </button>
                <button type="button" class="list-group-item" (click)="nextStep(1, 0)">
                  4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>r=m;</code><span class="text-success">{{activeComments[0]}}</span>
                </button>
                <button type="button" class="list-group-item">
                  5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>m=n;</code>
                </button>
                <button type="button" class="list-group-item" (click)="nextStep(2, 3)">
                  6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>n=r;</code><span class="text-success">{{activeComments[3]}}</span>
                </button>
                <button type="button" class="list-group-item">
                  7 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>&#125;</code>
                </button>
                <button type="button" class="list-group-item" (click)="nextStep(1, 1)">
                  8 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>r=m%n;</code><span class="text-success">{{activeComments[1]}}</span>
                </button>
                <button type="button" class="list-group-item" (click)="nextStep(2, 4)">
                  9 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code><strong>while</strong>(r!=0) &#123;</code><span class="text-success">{{activeComments[4]}}</span>
                </button>
                <button type="button" class="list-group-item">
                  10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>m=n;</code>
                </button>
                <button type="button" class="list-group-item" (click)="nextStep(2, 5)">
                  11 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>n=r;</code><span class="text-success">{{activeComments[5]}}</span>
                </button>
                <button type="button" class="list-group-item" (click)="nextStep(1, 2)">
                  12 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>r=m%n;</code><span class="text-success">{{activeComments[2]}}</span>
                </button>
                <button type="button" class="list-group-item">
                  13 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>&#125;</code>
                </button>
                <button type="button" class="list-group-item">
                  14 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code><strong>return</strong> n;</code>
                </button>
                <button type="button" class="list-group-item">
                  15 &nbsp;&nbsp;&nbsp;&nbsp;<code>&#125;</code>
                </button>
              </ul>
            </div>
            <ng-template #step3>
                <ul class="list-group">
                    <button type="button" class="list-group-item disabled">
                      1 &nbsp;&nbsp;&nbsp;&nbsp;<code><strong>euclid</strong>(<strong>int</strong> m, <strong>int</strong> n) &#123;</code>
                    </button>
                    <button type="button" class="list-group-item disabled">
                      2 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code><strong>int</strong> r;</code>
                    </button>
                    <button type="button" class="list-group-item disabled">
                      3 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code><strong>if</strong>(n>m) &#123;</code>
                    </button>
                    <button type="button" class="list-group-item" 
                    [ngClass]="{'list-group-item-info': 4 === definition}"
                    (click)="selectDefinition(4)">
                      4 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>r=m;</code><span class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;//definition of r</span>
                    </button>
                    <button type="button" class="list-group-item disabled">
                      5 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>m=n;</code>
                    </button>
                    <button type="button" class="list-group-item" 
                    [ngClass]="{'list-group-item-info': 6 === use}"
                    (click)="selectUse(6)">
                      6 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>n=r;</code><span class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;//use of r</span>
                    </button>
                    <button type="button" class="list-group-item disabled">
                      7 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>&#125;</code>
                    </button>
                    <button type="button" class="list-group-item" 
                    [ngClass]="{'list-group-item-info': 8 === definition}"
                    (click)="selectDefinition(8)">
                      8 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>r=m%n;</code><span class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;//definition of r</span>
                    </button>
                    <button type="button" class="list-group-item" 
                    [ngClass]="{'list-group-item-info': 9 === use}" 
                    (click)="selectUse(9)">
                      9 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code><strong>while</strong>(r!=0) &#123;</code><span class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;//use of r</span>
                    </button>
                    <button type="button" class="list-group-item disabled">
                      10 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>m=n;</code>
                    </button>
                    <button type="button" class="list-group-item" 
                    [ngClass]="{'list-group-item-info': 11 === use}" 
                    (click)="selectUse(11)">
                      11 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>n=r;</code><span class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;//use of r</span>
                    </button>
                    <button type="button" class="list-group-item" 
                    [ngClass]="{'list-group-item-info': 12 === definition}"
                    (click)="selectDefinition(12)">
                      12 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>r=m%n;</code><span class="text-success">&nbsp;&nbsp;&nbsp;&nbsp;//definition of r</span>
                    </button>
                    <button type="button" class="list-group-item disabled">
                      13 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code>&#125;</code>
                    </button>
                    <button type="button" class="list-group-item disabled">
                      14 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<code><strong>return</strong> n;</code>
                    </button>
                    <button type="button" class="list-group-item disabled">
                      15 &nbsp;&nbsp;&nbsp;&nbsp;<code>&#125;</code>
                    </button>
                  </ul>
            </ng-template>
          </div>
  
          <div class="col-sm-1"></div>
        </div>
      </div>
  
      <hr>
  
      <div class="row main-row">
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination">
            <li>
              <a routerLink="/dataflow/5" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
              </a>
            </li>
            <li>
              <a routerLink="/quiz" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      
    </div>
  </body>
