

<br>
<br>


<div class="card">
  <br>
  <br>
   <div class="photo">
      <img src="https://s.gravatar.com/avatar/2efba1f237366dfe7fcdec84c966d6be?s=480&r=pg&d=https%3A%2F%2Fcdn.auth0.com%2Favatars%2Fan.png" alt="John" style="width:100%">


   </div>
    
    <h1></h1>
   
    
    
    <form action="/action_page.php">

   
      <div  class="text">  Name  &nbsp;<input type="text" name="FirstName" value="&nbsp; &nbsp;john"><br><br></div>

         
          Email &nbsp; <input type="text" name="LastName" value="&nbsp; &nbsp;john@stud.ntnu.no"  ><br><br>
          Role  &nbsp;&nbsp;: <input type="text" name="LastName"value="&nbsp; &nbsp;student" ><br>
        
          
          
          </form>
          <br>
          <br>
          <br>
    <div style="margin: 24px 0;">
      
   </div>
  
  </div>

























<!-- previous-->

<h1 style="text-align:center">Account information</h1>

<div id="main">
  <div class="container">
    <div class="row main-row">

      

      <div class="col-sm-12">

        <section>
          <form class="form-horizontal">

            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="{{ account?.name }}" name="nane">
            </div>

            <div class="form-group">
              <label for="points">Points:</label>
              <input type="number" class="form-control" id="points" placeholder="0" name="points" disabled>
            </div>

            <div class="form-group">
              <label for="accountType">Account type:</label>
              <input type="text" class="form-control" id="accountType" placeholder="Student" name="accountType" disabled>
            </div>

        
          </form>
        </section>


        <section>
          <div class="panel panel-default profile-area">
            <div class="panel-heading">
              <h3>Profile</h3>
            </div>
            <div class="panel-body">

              <div>
                <img src="{{account?.picture}}" class="avatar" alt="avatar">
                <h3 class="nickname">{{ account?.name }}</h3>
              </div>
              <h3>Account info:</h3>
              <pre class="full-profile">{{ account | json }}</pre>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>