.text{

    box-shadow: none;
}







.card{

    width:500px;
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  
   
  }

  .photo{

    max-width:100px;
    margin-left:180px;
  }
  
  
  
  
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }