<body>
  <div class="container page-header">
    <h1 style="text-align:center">Data Flow Testing</h1>
  </div>
  
  <div class="main">
    <div class="container">
      <div class="row">

        <div class="col-sm-1"></div>

        <div class="col-sm-4">
          <h2>Definitions</h2>
          
          <p>A definition (def) is a location where a value for a variable is stored into memory 
          (assignment, input, etc.).</p>
          <p>We say a variable is defined in a statement when its value is assigned or changed.</p>
          <p>Think that we focus on variable “a”.</p>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-5">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title">Definitions of the variable "a”</h1>
            </div>
            <div class="panel-body">
              <div class="col-xs-6">
                <ul>
                  <li><code>a=5;</code></li>
                  <li><code>scanf(“%d”, & a);</code></li>
                  <li><code>cin>>a;</code></li>
                  <li><code>a  =26 * X</code></li>
                </ul>
              </div>

              <div class="col-xs-6">
                <ul>
                  <li><code>Read (a)</code></li>
                  <li><code>int a;</code></li>
                  <li><code>int  a=6;</code></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-1"></div>
      </div>

      <hr>

      <div class="row">
          
        <div class="col-sm-1"></div>
          
          <div class="col-sm-4">
            <h2>Uses</h2> 
              <p>A use  is a location where a variable’s value is accessed.</p>
              <p>We say a variable is used in a statement when its value is utilized in a statement.</p>
              <p>The value of the variable is not changed.</p>
          </div>
          
        <div class="col-sm-1"></div>
          
        <div class="col-sm-5">
          
          <div class="panel panel-default">
            <div class="panel-heading">
              <h1 class="panel-title">Uses of the variable "a”</h1>
            </div>
            <div class="panel-body">
              <ul>
                <li><code>if (a>5)</code></li>
                <li><code>printf(“%d”, a);</code></li>
                <li><code>cout&laquo;a</code></li>
                <li><code>y=26 * a;</code></li>
              </ul> 
            </div>
          </div>
        </div>  
          
        <div class="col-sm-1"></div>
        
      </div>
    </div>

    <hr>

    <div class="row main-row">
      <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
          <li>
            <a routerLink="/dataflow" aria-label="Previous">
            <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
          <li>
            <a routerLink="/dataflow/3" aria-label="Next">
            <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    
  </div>
</body>