<body>
	<div class="main">
		<div class="container page-header">
			<div class="form-group col-md-12">
				<p class="alert alert-danger" *ngIf="serverError">Unable to process the request. Please try again or contact administrator.</p>
				<p class="alert alert-danger" *ngIf="responseError">{{ responseMessage }}</p>
			</div>
			<div class="form-group col-md-12">
				<div class="col-md-8">
					<input type="text" class="form-control" name="search_title" placeholder="Enter the title to search" />
				</div>
				<!-- <div class="col-md-2">
					<select name="tags" class="form-control select-tags" multiple>
						<option value="dataflow">Data flow</option>
						<option value="basispath">Basis path</option>
					</select>
				</div> -->
				<div class="col-md-2">
					<button class="btn btn-primary">Search</button>
				</div>
				<div *ngIf="auth.isAuthenticated()" class="col-md-2">
                   <span class="icon-question icons icon text-right"></span> <a href="" id="add-question-modal" data-toggle="modal" (click)="openNew()" data-target="#questionmodal">Ask New Question</a>
                 </div>
			</div>
		</div>
	</div>
	
	<div class="main">
		<div class="container">
			<!-- <div class="row"> -->
				<div class="col-md-12">
				   <div class="col-md-12 tabs-area box-shadow-none">
				      <div id="tabsDemo6Content" class="tab-content tab-content-v6 col-md-12">
				        <div role="tabpanel" class="tab-pane search-v1-menu1 fade active in" id="tabs-demo7-area1" aria-labelledby="tabs-demo7-area1">
							<div class="row">
								<div class="col-md-6">
									<h4>{{ forumData?.length }} results found</h4>
								</div>
								<!-- <div class="col-md-6 text-right">
									Show <select>
										<option>10</option>
										<option>25</option>
										<option>50</option>
									</select> results
								</div> -->
							</div>
							<div class="row row-padding" *ngFor="let eachForum of forumData; let i=index;">
							  <div class="col-md-10 padding-0">
							      <div class="media">
							        <div class="media-left" style="min-width:85px;">
							          <img style="width:50px; border-radius:100% " src="{{ eachForum.img }}"> 
							          <p><small>{{ eachForum.name }}</small></p>
							        </div>
							        <div class="media-body">
							          <a routerLink="/forum/{{eachForum._id}}/discussion" class="media-heading">{{ eachForum.question }}</a>
							           <p>{{ eachForum.description }}</p>
							           <span class="label label-default" *ngFor="let eachTags of eachForum.tags">{{ eachTags }}</span>
							        </div>
							      </div>
							  </div>
							  <div *ngIf="auth.isAuthenticated()" class="col-md-2 text-right">
					          		<span *ngIf="account?.name == eachForum.email" style="color:red;"><i class="glyphicon glyphicon-remove" (click)="removeQuestion(eachForum._id, i)" ></i></span>
					          	</div>
							</div>

							<!-- <div class="row showing">	
								<span>Showing 1-2 of 2</span>
							</div> -->
				        </div>
				      </div>
				    </div>
				</div>		



		
		</div>

		<!-- <div class="col-md-12">
			<nav aria-label="Page navigation" class="text-center">
				<ul class="pagination">
					<li>
						<a href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo; Previous</span>
						</a>
					</li>
					<li>
						<a routerLink="" aria-label="Next">
						<span aria-hidden="true">Next &raquo;</span>
						</a>
					</li>
				</ul>
			</nav>
		</div> -->
	</div>
</body>

<!-- modal starts -->
<div class="modal fade" id="questionmodal" tabindex="-1" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Ask</h4>
    </div>
    <div class="modal-body">
    <form #forumForm="ngForm">
    	<div class="form-group row">
    		<p class="alert alert-danger" *ngIf="updateServerError">Unable to process the request. Please try again or contact administrator.</p>
    		<p class="alert alert-danger" *ngIf="updateResponseError">{{ updateResponseMessage }}</p>
    	</div>
      <div class="form-group row"><label class="col-sm-2 control-label text-right">Question*</label>
        <div class="col-sm-10"><input type="text" name="question" #question="ngModel" [(ngModel)]="newQuestion.question" class="form-control" required>
        <p class="error-text" *ngIf="question.invalid && question.touched">Question is required</p>
        </div>
      </div><br />
      <div class="form-group row"><label class="col-sm-2 control-label text-right">Description*</label>
        <div class="col-sm-10"><textarea name="description" #description="ngModel" [(ngModel)]="newQuestion.description" class="form-control" required></textarea>
        <p class="error-text" *ngIf="description.invalid && description.touched">Description is required</p>
        </div>
      </div><br />
      <div class="form-group row"><label class="col-sm-2 control-label text-right">Tags*</label>
        <div class="col-sm-10 col-md-10">
        	<tag-input [(ngModel)]='newQuestion.tags' [modelAsStrings]="true" #tags="ngModel" theme='bootstrap3-info' name="tags" required></tag-input>
        	<!-- <select name="tags" #tags="ngModel" [(ngModel)]="newQuestion.tags" required class="form-control input-tags" multiple>
				
			</select> -->

        	<p class="error-text" *ngIf="tags.invalid && tags.touched">Tag(s) are required</p>
        </div>
      </div><br />
    <div class="modal-footer">
      <input type="hidden" name="key" id="key_value">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="save-btn btn btn-primary" [disabled]="!forumForm.valid" (click)="addQuestion()">Save changes</button>
    </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<!---my foroum-->
