<body>
  <div class="container page-header">
    <h1 style="text-align:center">Data Flow Testing</h1>
  </div>
  
  <div class="main">

    <div class="container">
          <div class="row">
    
            <div class="col-sm-1"></div>
            
            <div class="col-sm-4">	
              <h2>Def-use pairs</h2>

              <p>In Data flow testing we generate test data according to the way data is 
              manipulated in the program</p>
              <p>Data flow testing criteria use the fact that values are carried from 
              definitions to uses.</p>
              <p>We call these <strong>def-use pairs</strong> (they are also known as definition-use, du pairs, 
              and du associations in the testing literature).</p>
              <p>In the example, we see that the variable <code><strong>x</strong></code> is defined in the code lines 1 and 4, and used in 
              code line 6. We say that <span class="label label-info">Def (x) = 1, 4</span> and 
              <span class="label label-info">Use (x) = 6</span></p>
              <p> We will therefore get two def-use pairs for <code><strong>x</strong></code>: 
              <span class="label label-info">Def-Use (x) = [1-6], [4-6]</span></p>
             
            
            </div>
    
            <div class="col-sm-1"></div>
    
            <div class="col-sm-5">
              <img src="assets/img/dupairs.jpg" alt="Def-use pairs">
            </div>
                  
            <div class="col-sm-1"></div>
          </div>		
        </div>
  

    <hr>

    <div class="row main-row">
      <nav aria-label="Page navigation" class="text-center">
        <ul class="pagination">
          <li>
            <a routerLink="/dataflow/2" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
            </a>
          </li>
          <li>
            <a routerLink="/dataflow/4" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
            </a>
          </li>
        </ul>      
      </nav>
    </div>
    
  </div>
</body>