<h1 style="text-align:center">API test call</h1>

<div id="main">
  <div class="container">
    <div class="row main-row text-center">
      <section>

        <h2>Call result:</h2>
        <p>{{message}}</p>

        <h2>Normal calls:</h2>
        <button (click)="testPublicCall()">
          Public call
        </button>

        <button (click)="privateCall()">
          Private call
        </button>

        <h2>Access restricted calls: </h2>

        <button (click)="adminCall()">
          Admin call
        </button>


        <button (click)="teacherCall()">
          Teacher call
        </button>


        <button (click)="studentCall()">
          Student call
        </button>

        <button (click)="userCall()">
          User call
        </button>

        <h2>Tokens</h2>
        <button (click)="toogleTokens()">
          Toggle JWT tokens
        </button>

        <br/>
        <h3>{{access_token_msg}}</h3>
        <p>{{access_token}}</p>
        <br/>
        <h3>{{id_token_msg}}</h3>
        <p>{{id_token}}</p>



      </section>

    </div>
  </div>
</div>