


<div class="panel-heading">
    <br>

    <h1 class="panel-title" style="text-align:center"><b>Third Method</b> </h1>
    <br>
  </div>


  														
													
																	
  <div class="main">
      
        <div class="container">
            
          <div class="row">			
    
            <div class="col-sm-1"></div>
            
            <div class="col-sm-5">
                <div class="panel panel-default">
                    
                    <div class="panel-body">
    
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      
                        <p> In this method the number of  Regions are equal to Cyclomatic Complexity</p><br><br>	
                        <p><b>Cyclomatic complexity = The number of Regions</b> </p><br><br>
                        <p> The various Regions have been shown on the opposite Fig </p>	<br><br>
                        
                        
                        
                        
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        
                    
    
                  
                        
                    </div>
                    </div>
              
              
              
            
            </div>
    
            <div class="col-sm-2"></div>
    
            <div class="col-sm-5">
    
              <div class="panel panel-default">
                
    
                
                <div class="panel-body">
                    <div class="item" >
                      
                        <img src="assets/img/region.gif"  style="width:342px; height:498px; ">
                        </div>
                        
                        
                </div>
              </div>
            </div>
                  
            <div class="col-sm-1"></div>
          </div>		
        </div>
    
    
    <br>
    <br>
    <br>
    


















<!-- buttons-->
<div class="main">
    <div class="container">	
      
  
      <div class="row main-row">
        <nav aria-label="Page navigation" class="text-center">
          <ul class="pagination">
            <li>
              <a href="#" routerLink="/basispath/6" aria-label="Previous">
              <span aria-hidden="true">&laquo; Previous</span>
              </a>
            </li>
            <li>
              <a routerLink="/basispath/8" aria-label="Next">
              <span aria-hidden="true">Next &raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>