<form class="form">
		<br>


<h1 style="text-align:center">Add Quiz</h1>
<br>
<br>



<div id="main">
	<div class="container">
		<div class="row main-row">
<div class="col-sm-6 col-sm-offset-3">
	  <!-- Nav tabs -->
	  <ul class="nav nav-tabs question_tab" role="tablist">
	    <li role="presentation" [class.active]='first'><a>Add Quiz</a></li>
	    <li role="presentation" [class.active]='!first'><a>Add Questions to Quiz</a></li>
	  </ul>

	  <!-- Tab panes -->
	  <div class="tab-content">
	    <div role="tabpanel" class="tab-pane" [class.active]='first' id="home">
		        <section>
		          <form class="form-horizontal" #formfirst = "ngForm">
		          	<div class="form-group">
		          		<p class="error-text" *ngIf="firstError">{{ errorMessage }}</p>
		          	</div>

		            <div class="form-group">
		              <label for="name">Title*:</label>
		              <input type="text" class="form-control" placeholder="Quiz Title" [(ngModel)]="quizData.title" name="title" #title="ngModel" required>
		              <p class="error-text" *ngIf="title.invalid && title.touched">Title is required</p>
		            </div>

		            <div class="form-group">
		              <label for="points">Category*:</label>
		              <ss-multiselect-dropdown [options]="myOptions" [(ngModel)]="quizData.category" required #category="ngModel" name="category"></ss-multiselect-dropdown>
		              <p class="error-text" *ngIf="category.invalid && category.touched">Category is required</p>
		            </div>

		            <div class="form-group">
		              <label for="accountType">Description*:</label>
		              <textarea class="form-control" name="description" [(ngModel)]="quizData.description" required #description="ngModel"></textarea>
		              <p class="error-text" *ngIf="description.invalid && description.touched">Description is required</p>
								</div>
								<br>
								<br>
								<br>

		            <div class="text-right">
		            	<button type="button" class="btn btn-primary" [disabled]="formfirst.invalid" (click)="nextPage()">Next</button>
		            </div>
		          </form>
		        </section>
	    </div>
	    <div role="tabpanel" class="tab-pane" [class.active]='!first' id="profile">
		        <form class="form-horizontal questions-pane" #formSecond="ngForm">
		        	<div class="row">
		        		<p class="error-text" *ngIf="secondError">{{ errorMessage }}</p>
		        		<p class="error-text" *ngIf="serverError">Unable to process the request. Please try again or contact administrator.</p>
		        		<p class="error-text" *ngIf="responseError">{{ responseMessage }}</p>
		        	</div>
			        <div class="row questions">
			        	<div class="col-sm-12">
				        	<!-- <div class="form-group add-remove-question text-right">
								<span class="text-danger remove-question" (click)="addQuestion()"><i class="glyphicon glyphicon-remove"></i></span>
								<span class="text-success add-question" (click)="addQuestion($event)"><i class="glyphicon glyphicon-plus"></i></span>
				            </div> -->

				            <div class="form-group">
				              <label for="name">Question*:</label>
				              <input type="text" class="form-control" placeholder="Question" [(ngModel)]="questionData.question" name="question" #question="ngModel" required>
				              <p class="error-text" *ngIf="question.invalid && question.touched">Question is required</p>
				            </div>

				            <div class="form-group">
				              <label for="name">Image:</label>
				              <input type="file" class="form-control" [(ngModel)]="questionData.image" name="image">
				            </div>

				            <div class="form-group">
				              <label for="code">Code:</label>
				              <textarea class="form-control" name="code" [(ngModel)]="questionData.code"></textarea>
				            </div>

				            <div class="form-group">
				              <label for="name">Explanation*:</label>
				              <input type="text" class="form-control" [(ngModel)]="questionData.answer_explanation" placeholder="Explanation.." name="answer_explanation" required #answer_explanation="ngModel">
				              <p class="error-text" *ngIf="answer_explanation.invalid && answer_explanation.touched">Explanation is required</p>
				            </div>

				            <div class="form-group row all-answers">
						      	<div class="row correct-answer-row">	
							      	<label class="col-sm-2 control-label text-right">
							      		Correct Answer*
							      	</label>
							        <div class="col-sm-8">
							        	<input type="text" [(ngModel)]="questionData.correct_answer" name="correct_answer" class="form-control" #correct_answer ="ngModel" (keyup)="checkAnswer()" required />
							        	<p class="error-text" *ngIf="correct_answer.invalid && correct_answer.touched">Correct Answer is required</p>
							        	<p class="error-text" *ngIf="sameCorrectAnswerError">Correct Answer is same as other answers</p>
							        </div>
						      	</div><br/>
						      	<h4>Other Answer*</h4>
						      	<div class="row text-left">
						      		<div class="col-md-10">
						      			<p class="error-text" *ngIf="answerError">At least one answer is required.</p>
						      			<p class="error-text" *ngIf="sameAnswerError">One of the answer is same as correct answer.</p>
						      		</div>
						      		<div class="col-md-2">
						      			<span class="text-success" (click)="addAnswer()"><i class="glyphicon glyphicon-plus"></i></span>
						      		</div>
						      	</div>
						      	<div class="row answer-row" *ngFor="let eachanswer of answers; let i=index;">	
							      	<label class="col-sm-2 control-label text-right">
							      	</label>
							        <div class="col-sm-8">
							        	<input type="text" [(ngModel)]="eachanswer.answer" name="answer{{i}}" class="form-control"/>
							        </div>
							        <div class="col-sm-2">
							          	<span class="text-danger" (click)="removeAnswer(i)"><i class="glyphicon glyphicon-remove"></i></span>
						          	</div>
						      	</div>

						      </div><br />
				        </div>
			        </div>
		            <div class="row">
		            	<button class="btn btn-primary" (click)="prevPage()">Back</button>
			            <button class="btn btn-primary" [disabled]="!formSecond.valid || sameAnswerError || answerError || sameCorrectAnswerError" (click)="save(formSecond.valid)">Save</button>
			        </div>
		          </form>
	    </div>
	  </div>
</div>
</div>
</div>
</div>


<div class="hidden" id='#templates'>
	<div class="answer-template">
		<div class="row answer-row">	
	      	<label class="col-sm-2 control-label text-right">
	      	</label>
	        <div class="col-sm-8">
	        	<input type="text" name="answer[]" class="form-control" />
	        </div>
	        <div class="col-sm-2">
	          	<span class="text-danger answer-remove"><i class="glyphicon glyphicon-remove"></i></span>
	          	<span class="text-success answer-add"><i class="glyphicon glyphicon-plus"></i></span>
	      	</div>
	  	</div><br/>
	</div>
</div>

<br>
<br>
</form>