<body>
	<div class="main">
		<div class="container page-header">
			<div class="form-group col-md-12">
				<p class="alert alert-danger" *ngIf="serverError">Unable to process the request. Please try again or contact administrator.</p>
				<p class="alert alert-danger" *ngIf="responseError">{{ responseMessage }}</p>
			</div>
			<div class="form-group col-md-12">
				<div class="col-md-6">
					<input type="text" class="form-control" name="search_title" placeholder="Enter the title to search" />
				</div>
				<div class="col-md-2">
					<button class="btn btn-primary">Search</button>
				</div>
				<div class="col-md-2">
                   <span class="icon-question icons icon text-right"></span> <a href="javascript:void(0)" id="add-question-modal" routerLink="/admin-quiz/{{ quiz_id }}/questions/add">Add New Question</a>
                 </div>
			</div>
		</div>
	</div>
	
	<div class="main">
		<div class="container">
			<!-- <div class="row"> -->
				<div class="col-md-12">
					<div class="row page-header">
						<div class="col-md-2">
							#
						</div>	
						<div class="col-md-8">
							Question
						</div>
						<div class="col-md-2">
							Action
						</div>
					</div>

					<div class="row" *ngFor="let eachQuestion of questionData; let i=index;">
						<div class="col-md-2">
							{{ i+1 }}
						</div>	
						<div class="col-md-8">
							{{ eachQuestion.question }}
						</div>
						<div class="col-md-2">
							<span><i class="glyphicon glyphicon-remove" (click)="removeQuestion(eachQuestion._id, i)"></i></span> <span><i class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#questionmodal" (click)="getQuestionDetails(eachQuestion._id)"></i></span>
						</div>
					</div>
					<hr/>
				</div>
			<!-- </div>		 -->
		</div>
	</div>
</body>

<!-- modal starts -->
<div class="modal fade" id="questionmodal" tabindex="-1" role="dialog">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Edit</h4>
    </div>
    <div class="modal-body">
    <form #QuestionForm="ngForm">
    	<div class="form-group row">
    		<p class="alert alert-danger" *ngIf="updateServerError">Unable to process the request. Please try again or contact administrator.</p>
    		<p class="alert alert-danger" *ngIf="updateResponseError">{{ updateResponseMessage }}</p>
    	</div>

      <div class="form-group row"><label class="col-sm-2 control-label text-right">Question*</label>
        <div class="col-sm-10"><input type="text" name="question" #question="ngModel" [(ngModel)]="thisQuestion.question" class="form-control" required>
        <p class="error-text" *ngIf="question.invalid && question.touched">Question is required</p>
        </div>
      </div><br />
      <div class="form-group row"><label class="col-sm-2 control-label text-right">Image</label>
        <div class="col-sm-10"><input type="file" name="image" #image="ngModel" [(ngModel)]="thisQuestion.image" class="form-control"></div>
      </div><br />

      <div class="form-group row"><label class="col-sm-2 control-label text-right"></label>
        <div class="col-sm-10">
        	<img src="">
        </div>
      </div><br />

      <div class="form-group row"><label class="col-sm-2 control-label text-right">Code</label>
        <div class="col-sm-10">
        <textarea class="form-control" name="code" #code="ngModel" [(ngModel)]="thisQuestion.code"></textarea>
        </div>
      </div><br />

      <div class="form-group row"><label class="col-sm-2 control-label text-right">Explanation*</label>
        <div class="col-sm-10"><input type="text" name="explanation" #explanation="ngModel" [(ngModel)]="thisQuestion.answer_explanation" class="form-control" required>
        <p class="error-text" *ngIf="explanation.invalid && explanation.touched">Answer Explanation is required</p>
        </div>
      </div><br />

      <div class="form-group row all-answers">
      	<div class="row correct-answer-row">	
	      	<label class="col-sm-2 control-label text-right">
	      		Correct Answer
	      	</label>
	        <div class="col-sm-8">
	        	<input type="text" name="correct_answer" #correct_answer="ngModel" [(ngModel)]="thisQuestion.correct_answer" class="form-control" required (keyup)="checkAnswer()" />
	        	<p class="error-text" *ngIf="correct_answer.invalid && correct_answer.touched">Correct Answer is required</p>
	        	<p class="error-text" *ngIf="sameCorrectAnswerError">Correct Answer is same as other answers</p>
	        </div>
      	</div><br/>
      	<h4>Other Answer</h4>
      	<div class="row text-left">
      		<div class="col-md-10 text-right">
      			<p class="error-text" *ngIf="answerError">At least one answer is required.</p>
      			<p class="error-text" *ngIf="sameAnswerError">One of the answer is same as correct answer.</p>
      		</div>
      		<div class="col-md-2">
      			<span class="text-success" (click)="addAnswer()"><i class="glyphicon glyphicon-plus"></i></span>
      		</div>
      	</div>
      	<div class="row answer-row" *ngFor="let eachanswer of answers; let i=index;">	
	      	<label class="col-sm-2 control-label text-right">
	      	</label>
	        <div class="col-sm-8">
	        	<input type="text" [(ngModel)]="eachanswer.answer" name="answer{{i}}" class="form-control"/>
	        </div>
	        <div class="col-sm-2">
	          	<span class="text-danger" (click)="removeAnswer(i)"><i class="glyphicon glyphicon-remove"></i></span>
          	</div>
      	</div>

      </div><br />
    <div class="modal-footer">
      <input type="hidden" name="key" id="key_value">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <button type="button" class="save-btn btn btn-primary" [disabled]="!QuestionForm.valid || sameAnswerError || answerError || sameCorrectAnswerError" (click)="updateQuestion()">Save changes</button>
    </div>
    </form>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal	-->
</div>